@page
@{
    this.Layout = "_Layout";
}

<p class="system-text">This is a very simple page for girls to express their femininity freely.</p>
<p class="system-text">Rules:</p>
    <ol>
        <li>Basic common decency (no spam, no insulting each other, etc. etc. you get me.)</li>
        <li>Dark topics and venting are allowed to a degree, but don't overdo it. This is a safe space as
            much as it is a place for girls to cheer up from difficult days.</li>
        <li>No bigotry. We support all girlies equally, whether assigned at birth or otherwise.</li>
        <li>We encourage traditionally feminine topics to be the forefront of discussion. (Ex. Makeup, femme fashion, etc.)</li>
    </ol>
    <br/>
<p class="system-text">Not following these rules will lead to action decided by our moderators, from post deletion up to account deletion.</p>
<footer class="disclaimer">note: this website is made by a femboy, not a girl.</footer>