@page
@{
    this.Layout = "_Layout";
}

<p class="system-text">If you wish to contact the owner for any reason, please send an email at cutiepieroses@justgirlies.com. 
    Unfortunately, I am too lazy to make a contact form as it is not a requirement of the project and this page is frankly just filler.</p>